body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
}

header {
      background-image: url('slam_image.png');
      /* Replace with the path or URL of your background image */
      background-size: cover;
      color: white;
      text-align: center;
      padding: 3em 0;
}

section {
      padding: 2em;
      margin-bottom: 70px;
      /* Adjust the margin as needed */
}


footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 1em 0;
      position: fixed;
      bottom: 0;
      width: 100%;
}